html {
	height: 100%;
}

body {
	
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-color: #4E689C;
}

#key {
	position: absolute; 
    width: 100%;  
    text-align: center;
	font-family: Verdana;
	font-size: 60px;
	color: #ffffff;
	top: 50%;
	font-weight: lighter;
}

#keycode {
	position: absolute; 
    width: 100%;  
    text-align: center;
	font-family: Verdana;
	font-size: 100px;
	color: #ffffff;
	top: 25%;
	font-weight: normal;
}

#home {
	position: absolute; 
    width: 100%;  
    text-align: center;
	font-family: sans-serif;
	font-size: 80px;
	color: #ffffff;
	top: 25%;
	font-weight: Normal;
}